<div layout="col">
    <div class="left">
        <md-input-container layout="row">
            <label>district</label>
            <md-select ng-model="search.district"
                        name="district"
                        placeholder="selectionner un district">
                <md-optgroup label="district">
                    <md-option ng-repeat="(key, value) in filterValues" ng-value="key">{{key}}</option>
                </md-optgroup>
            </md-select>
        </md-input-container>
        <md-input-container layout="row">
            <label>ville</label>
            <md-select ng-model="search.ville"
                        name="ville"
                        placeholder="selectionner une ville">
                <md-optgroup label="ville">
                    <md-option ng-repeat="(key, value) in filterValues[search.district]" ng-value="key">{{key}}</option>
                </md-optgroup>
            </md-select>
        </md-input-container>
        <md-input-container layout="row">
            <label>club</label>
            <md-select ng-model="search.club"
                        name="club"
                        placeholder="selectionner un club"
                        multiple>
                <md-optgroup label="club">
                    <md-option ng-repeat="value in filterValues[search.district][search.ville]" ng-value="value">{{value}}</option>
                </md-optgroup>
            </md-select>
        </md-input-container>
        <md-button ng-click="search = {}"> reset !</md-button>
        <md-button ng-click="refresh()"> go !</md-button>
    </div>
    <div class="content" flex="grow" ng-class="initialized ? '': 'loading'" >
        <!-- main content -->
        <div ng-if="initialized">
            <div flex="auto">
                <h1 class="md-display-1 text-center" >répartition homme/femme</h1>
                <canvas class="chart chart-pie" chart-data="hommeFemme.data" chart-labels="hommeFemme.labels"></canvas> 
            </div>
            <hr width="80%">
            <div flex="auto">
                <h1 class="md-display-1 text-center">répartition des ages</h1>
                <canvas class="chart chart-bar" chart-data="ages.data" chart-labels="ages.labels"></canvas> 
            </div>
        </div>
    </div>
    <div class="right">
        <h1>infos:</h1>
        <ul>
            <li>Nombre de club: {{ clubsCount}}</li>
            <li>Nombre de membres: {{ membresCount}}</li>
            <li>Age moyen: {{ ages.avg}}</li>
            <li>Age min: {{ ages.min}}</li>
            <li>Age max: {{ ages.max}}</li>
            <li>Nombre d'homme par femme {{ hommeFemme.avg}}</li>
        </ul>
    </div>
</div>